mixin portfolioList
	each project, index in portfolioList
		div(class="mb-8 md:mb-0 w-full md:w-1/2 md:p-5 md:flex")
			a(class=`card ${project.bgColor}  shadow block overflow-hidden`, href=project.url, title=`View ${project.title}` rel="prefetch")
				div(class="p-8")
					h2(class="text-2xl sm:text-3xl mb-4") #{project.title}
					p(class="text-md sm:text-lg font-medium") #{project.description}
					div(class="mt-8 flex")
						p(class="card__action text-md sm:text-lg font-bold ") View Project
				div(class="mt-4 pl-16 flex justify-end")
					img(src="/assets/images/display.png" , alt="")
						//- don't need alt text since img is a decoration and have surround desc text
