html(lang="en-us")
	head
		title #{siteAttributes[page.fileSlug] ? siteAttributes[page.fileSlug].metaTitle : site.metaTitle }
		//- Meta Tags
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content=siteAttributes[page.fileSlug] ? siteAttributes[page.fileSlug].metaDescription : site.metaTitle)
		meta(name="author", content=site.author)
		link(rel="canonical", href=site.url + page.url)
		link(rel="stylesheet", href=manifest['main.css'])

- var bodyClass = siteAttributes[page.fileSlug] ? siteAttributes[page.fileSlug].bodyClass : ""
	body(class=bodyClass)
		block content

	script(src=manifest['main.js'])
