doctype html
//- Import mixins here to use globally
include ../../_includes/mixins/mixins.pug
html(lang='en-us' class='antialiased overflow-y-scroll')
	head
		//- Meta Tags
		title #{siteAttributes[page.fileSlug] ? siteAttributes[page.fileSlug].metaTitle : site.metaTitle }
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(
			name='description',
			content=siteAttributes[page.fileSlug] ? siteAttributes[page.fileSlug].metaDescription : site.metaTitle
		)
		meta(name='author', content=site.author)
		meta(name="theme-color" content="#317EFB")
		link(rel="preload" href="/assets/fonts/ubuntu-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="/assets/fonts/ubuntu-v14-latin-500.woff2" as="font" type="font/woff2" crossorigin)
		style
			include ../inline/style.css

		script
			include ../inline/ga.js
		script(async src='https://www.google-analytics.com/analytics.js')

		link(rel='canonical', href=site.url + page.url)
		link(rel="manifest" href="/manifest.json")
		link(rel="apple-touch-icon" href="/apple-touch-icon.png")
		link(rel="shortcut icon", href="/favicon.ico")
		link(rel='stylesheet', href=manifest["main.css"])
		if(project.production)
			script(defer src=manifest["sw.js"])
	include ../sprites/sprites.svg

- var bodyClass = siteAttributes[page.fileSlug] ? siteAttributes[page.fileSlug].bodyClass : "";
	body(class=bodyClass)
		a(class="sr-only" href="#main") Skip to content
		include ../partials/header.pug
		div.flex.flex-col.min-h-screen
			include ../partials/main.pug
				block content
			include ../partials/footer.pug
	//- script(src=manifest["main.js"])
